
<!--{{receta | json}}-->

<div class="item_property">
      <div class="head_property">
        <a href="">
          <div class="title sale"></div>
          <img class="img_receta" src="{{casa.foto}}" alt="{{casa.nombre}}">
          <h5>{{casa.nombre}}</h5>
        </a>
      </div>                        
      <div class="info_property">                                    
          <ul>
              <li class="resalt"><strong>Nombre</strong><span>{{casa.nombre}}}</span></li>
              <li><strong>Dirección </strong><span>{{casa.direccion}}</span></li>
              <li class="resalt">
                <i class="fas fa-fw icon icon-bed"></i>
                <strong>Habitaciones</strong><span>{{casa.habitaciones}}</span>
              </li>
              <!-- <li *ngFor="let servicio of aCasa.servicios">{{servicio}}</li>  -->
             </ul>                                    
      </div>
  </div>






            
