

<div class="col-md-12 col-sm-12">
    <div class="infobox">
      <div class="infobox_img">
        <img  src="{{casa.foto}}" alt="{{casa.nombre}}" title="">
        <span *ngIf="casa.alquiler">Alquiler</span>
        <span *ngIf="!casa.alquiler">Venta</span>
        
      </div>
      <div class="infobox_detalles">
        <div class="infobox_detalles_header">
         
          <h3><a href="#">{{casa.nombre}}</a></h3>
          <p>{{casa.direccion}}</p>
        </div>
        <div class="detalles_footer">
          <p>{{casa.precio}} €</p>
          <ul>
            <li><i class="fas fa-bed" aria-hidden="true"></i> {{casa.habitaciones}}</li>
            <li><i class="fas fa-bath" aria-hidden="true"></i> Si</li>
            
          </ul>
        </div>
      </div>
      <div class="widget servicios">
          <h4>
            <span>Servicios</span>
            <div class="divider-fade"></div>
          </h4>
          <ul class="list">
            <li><i class="fas fa-check icon"></i> Balcon</li>
            <li><i class="fas fa-check icon"></i> TV</li>
            <li><i class="fas fa-check icon"></i> Calefacción</li>
            <li><i class="fas fa-check icon"></i> Aire acondicionado</li>
          </ul>
        </div>
    </div>
</div>
            
