<div class="container">
        <div class="section-heading">
            <h2 class="fadeInLeft wow animated">Inmobiliaria</h2>
            <!-- <h3>Inmobiliaria</h3> -->
        </div>
  <div class="row">
      
        <div class="col-md-4 sombra-lista">
          <div class="panel panel-default">
            <div class="panel-body">
                    <!--buscar-->
                    <div class="bloque equal-padding">
                        <div class="form-group input-group">
                            <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="searchText">
                            <span class="input-group-btn">
                            <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                    <hr>
                    <!--alquiler o venta-->
                    <div class="checkbox checkbox-primary margin-none">
                      <input id="radius50" type="checkbox"  [(ngModel)]="alquiler" name="alquiler">
                      <label for="radius50">Alquiler</label>
                    </div>
                  
                    <div class="checkbox checkbox-primary margin-none">
                      <input id="radius50" type="checkbox"  [(ngModel)]="venta" name="venta">
                      <label for="radius50">Venta</label>
                    </div>
                    <hr>
                    <!--precio-->
                    <div class="category">
                        <h5>Precio</h5></div>
                    <div class="form-group input-group">
                        <div class="row">
                          <!-- <div class="col-xs-6 ">
                            <input class="form-control" type="text" placeholder="Min ..">
                          </div>
                          <div class="col-xs-6">
                            <input class="form-control" type="text" placeholder="Max ..">
                          </div> -->
                          <div class="price-controls">
                                <input class="min-precio" type="text" value="0" [(ngModel)]="precioMin">
                                A <input class="max-precio" type="text" value="0" [(ngModel)]="precioMax">
                            </div>
                        
                        <div>
                          <button type="button" class="btn btn-outline-primary">
                              <i class="fas fa-search"></i>
                        </button>
                        </div>
                    </div>
                      </div>  
                

                      <div class="row">
                        <!-- Item Property-->
                        <div class="col-xs-6 col-sm-6" *ngFor="let casa of aCasa |filter : searchText : venta : alquiler"  (click)="seleccionarCasa(casa)" >
                            <div class="item">
                                <div class="cabecera">
                                    <img src="{{casa.foto}}" alt="{{casa.nombre}}">
                                    <h5>{{casa.nombre}}</h5>
                                 </div>                        
                                <div class="informacion">                                  
                                    <ul>
                                      <li><strong>Precio</strong><span>{{casa.precio}} €</span></li>
                                    </ul>                                 
                                </div>
                            </div>
                        </div>
                    </div>
                        <!-- Item Property-->
                
          </div><!--fin panel-body-->
      </div><!--fin panel-default-->
    </div> <!--fin listado casa-->

        <div class="col-md-8 sombra">
            <div class="panel panel-default">
               
                    
                <div class="panel-body">
                            
                    <app-detallecasa [casaDelInput]="casaSelec"></app-detallecasa>
                            
                </div>
            </div>
        </div><!--fin detalle casa-->      
</div>

