<div class="container">
  <h1 class='retroshadow'>Inmobiliaria</h1>
  <div class="row">
      
        <div class="col-md-4">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Listado de casa</h3>   
              </div>
              
              <div class="panel-body">
                    <!--buscar-->
                    <div class="bloque equal-padding">
                        <div class="form-group input-group">
                            <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="searchText">
                            <span class="input-group-btn">
                            <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                            </span>
                        </div>
                    </div>

                    <!--alquiler o venta-->
                    <div class="checkbox checkbox-primary margin-none">
                      <input id="radius50" type="checkbox" checked="">
                      <label for="radius50">Alquiler</label>
                    </div>
                  
                    <div class="checkbox checkbox-primary margin-none">
                      <input id="radius50" type="checkbox" checked="">
                      <label for="radius50">Venta</label>
                    </div>
                
                    <!--precio-->
                    <div class="category">Precio</div>
                    <div class="form-group input-group">
                        <div class="row">
                          <div class="col-xs-6 ">
                            <input class="form-control" type="text" placeholder="Min ..">
                          </div>
                          <div class="col-xs-6">
                            <input class="form-control" type="text" placeholder="Max ..">
                          </div>
                        </div>
                        <div class="input-group-btn">
                          <button type="button" class="btn btn-primary"><i class="fas fa-search"></i></button>
                        </div>
                      </div>  
                  

                  
                  <!-- <div class="lista_recetas">
                        
                      <ul class="list-group">
                         
                           <li *ngFor="let casa of aCasa |filter : searchText" class="list-group-item" (click)="seleccionarCasa(casa)" >
                             <img class="img_receta" src="{{casa.foto}}" alt="{{casa.nombre}}">
                             <a><b>{{casa.nombre}}</b> </a>
                          </li> -
                          <!-- <li *ngFor="let casa of aCasa" class="list-group-item" (click)="seleccionarCasa(casa)" >
                              <img class="img_receta" src="{{casa.foto}}" alt="{{casa.nombre}}">
                              <a><b>{{casa.nombre}}</b> </a>
                           </li> 
                      </ul>
                  </div> -->

                 
                        <!-- Item Property-->
                        <div class="col-xs-6 col-sm-6" *ngFor="let casa of aCasa |filter : searchText"  (click)="seleccionarCasa(casa)" >
                            <div class="item">
                                <div class="cabecera">
                                   
                                      <div class="title rent"></div>
                                      <img src="{{casa.foto}}" alt="{{casa.nombre}}">
                                      <h5>{{casa.nombre}}</h5>
                                   
                                </div>                        
                                <div class="informacion">                                  
                                    <ul>
                                      <li><strong>Precio</strong><span>{{casa.precio}}</span></li>
                                    </ul>                                 
                                </div>
                            </div>
                        </div>
                        <!-- Item Property-->
                
          </div><!--fin panel-body-->
      </div><!--fin panel-default-->
    </div> <!--fin listado casa-->

        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Detalle casa</h3>
                </div>
                    
                <div class="panel-body">
                            
                    <app-detallecasa [casaDelInput]="casaSelec"></app-detallecasa>
                            
                </div>
            </div>
        </div><!--fin detalle casa-->      
</div>

