
.input-buscar {
    display: table;
    width: 100%;
}

.input-buscar-item {
    display: table-cell;
    padding: 0.4em 0.25em;
    color: #AFB5BB;
    font-size: 1.55em;
    position: relative;
    padding: 0.8em;
    border: none;
    border-radius: 0;
    color: #aaa;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none;
}

.input-buscar-item > button {
    margin-left: 5px;
    border-color: #ECEFF1;
    border-radius: 40px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;   
}
    
.width100 {
  width: 100%;
}

ul{
    list-style-type: none;
}

